API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=6818655475:AAHR3xmizavmNZD2447FefAiUfiIQzz4Hpw
LOGGER_ID=-1002126331305
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=6558216465
STRING_SESSION=BAGi8fAAMuG_e023YQV4pIA_H24GDxC7DKTyLGJXpDdx059CXBntvdIk_RW_EMdit0yHB1DsnNGB3mZ3MZi4SHzP22_w4_tzHE0GEgAkgL1_PYLDbWMWp2L5E-QQhh0_XDKMLSFf2tuu0e3zta8xo7R9YvaHsVcgf_K6WBPuKutdWGyPjDOUcJFk74uvCfB3johdT6T0wOG3VicM_BnqOJwvgr7rTvG77tuwW93tLZ0EM3BmJwmsgoIF7gIWfICzR2183sIhe9sqvTbpyogLBd0ddbYNi9k_3SKsIspaGYB9iJHHf_bKruZt0tkrU6jJ9GcuvdkBTNwynJcOV9hcFW6VyqRgnQAAAAFtsimcAA
